# macOS system files
.DS_Store
*/.DS_Store

# Python files
*.pyc
__pycache__/

# IDE and editor-specific files
*.idea/
*.xml
*.iml

# Data directories
**/data/

# Jupyter notebooks checkpoints
*.ipynb_checkpoints/

# Example directories
UIUX/.DS_Store
Fundamentals-of-music-theory/.DS_Store